In [1]:
import pandas as pd

In [6]:
df= pd.read_csv('fraud_origbase.csv')
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,283,CASH_IN,210329.84,C1159819632,3778062.79,3988392.64,C1218876138,1519266.60,1308936.76,0,0
1,132,CASH_OUT,215489.19,C1372369468,21518.00,0.00,C467105520,6345756.55,6794954.89,0,0
2,355,DEBIT,4431.05,C1059822709,20674.00,16242.95,C76588246,80876.56,85307.61,0,0
3,135,CASH_OUT,214026.20,C1464960643,46909.73,0.00,C1059379810,13467450.36,13681476.56,0,0
4,381,CASH_OUT,8858.45,C831134427,0.00,0.00,C579876929,1667180.58,1676039.03,0,0

In [8]:
df['isFraud'].value_counts()

isFraud
0    635441
1       821
Name: count, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['type'] = le.fit_transform(df['type'])

In [12]:
X =  df[['amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest','type']]
y = df['isFraud']

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

# Assuming you already have your features and target:
# X = df.drop('target', axis=1)
# y = df['target']

# 1️⃣ Split into train and test before SMOTE
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# 2️⃣ Convert to float (SMOTE sometimes needs numeric types)
X_train = X_train.astype('float32')

# 3️⃣ Apply SMOTE only on training data
sm = SMOTE(random_state=42, sampling_strategy=0.2)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

# 4️⃣ Combine SMOTE results into DataFrames
train_resampled_df = pd.DataFrame(X_train_res, columns=X.columns)
train_resampled_df['target'] = y_train_res

# 5️⃣ Combine test data for reference
test_df = pd.DataFrame(X_test, columns=X.columns)
test_df['target'] = y_test

# 6️⃣ (Optional) Save to CSV
train_resampled_df.to_csv("train_resampled.csv", index=False)
test_df.to_csv("test_data.csv", index=False)

print("✅ Resampled training shape:", train_resampled_df.shape)
print("✅ Test shape:", test_df.shape)

✅ Resampled training shape: (610022, 7)
✅ Test shape: (127253, 7)

In [17]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,283,0,210329.84,C1159819632,3778062.79,3988392.64,C1218876138,1519266.60,1308936.76,0,0
1,132,1,215489.19,C1372369468,21518.00,0.00,C467105520,6345756.55,6794954.89,0,0
2,355,2,4431.05,C1059822709,20674.00,16242.95,C76588246,80876.56,85307.61,0,0
3,135,1,214026.20,C1464960643,46909.73,0.00,C1059379810,13467450.36,13681476.56,0,0
4,381,1,8858.45,C831134427,0.00,0.00,C579876929,1667180.58,1676039.03,0,0

In [18]:
df['isFraud'].value_counts()

isFraud
0    635441
1       821
Name: count, dtype: int64